@media (min-width: 320px) and (max-width: 840px){
    .App {
        width: 300px;
    }
  .app-wrapper {
    display: block;
  }
  .front-card {
    width: 260px;
    left: 5px;
    top: 380px;
    z-index: 2;
  }
  .big-circle {
    width: 30px;
    height: 30px;
  }
  .small-circle {
    width: 15px;
    height: 15px;
    border: 1px solid #fff;
    border-radius: 100%;
  }
  .decoration {
    margin-bottom: 30px;
  }
  .card-number {
    font-size: 16px;
  }
  .card-information {
    font-size: 10px;
  }
  .back-card {
    width: 250px;
    height: 160px;
    left: 30px;
    top: 280px;
    background-position: center / center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .cv-number {
    top: 41%;
  }
  .card-form {
    padding-top: 560px;
    max-width: 300px;
  }
}
